%tr{:class => "toggle_background"}
  %td=link_to(konto.name, konto_path(konto.id), :title => konto.name+ " anzeigen")
  - unless konto.transactions.empty?
    %td=konto.transactions.last.created_at.strftime "%d.%m.%Y"
  - else
    %td -
  - if konto.saldo >= 0
    %td{:class => "type_positive cell_price"}=number_to_currency konto.saldo, :locale => :de
  - else
    %td{:class => "type_negative cell_price"}=number_to_currency konto.saldo, :locale => :de
  %td
    =link_to(image_tag("new.png", :width => "20px"), new_konto_transaction_path(:from => konto.id), :title => "Neue Überweisung")
