%tr
  - if positive
    %td{:class => "type_positive"}= part.amount.to_s + "x " + part.item.name.to_s + " (" + number_to_currency(part.item.preis, :unit => "€") + ")"
  - else
    %td{:class => "type_negative"}= part.amount.to_s + "x " + part.item.name.to_s + " (" + number_to_currency(part.item.preis, :unit => "€ -") + ")"
