%table{:class=> "table-index"}
  %thead
    %td Name
    %td Preis
  %tbody
    - @bundles.each do |b|
      %tr
        %td= b["name"]
        - if b["type"] == "positive"
          %td{:class => "type_positive"}= number_to_currency(b["total"], :unit => "€ ")
        - else
          %td{:class => "type_negative"}= number_to_currency(b["total"], :unit => "€ -")

        %td= link_to "kaufen", shop_buy_path(:bundle => b["id"], :amount => 1)
