%table{:class=> "table-index"}
  %thead
    %td Name
    %td Besteht aus
    %td Preis
  %tbody
    - @bundles.each do |b|
      %tr{:class => "row_highlighted"}
        %td
          = b.name

        %td
          %table{:class => "bundle-item-list"}
            = render :partial => "item", :collection => b.shop_bundle_parts, :locals => {:positive => b.positive}, :as => "part"

        %td= number_to_currency(b.getTotalCost, :locale => :de)
        %td= link_to "kaufen", shop_add_to_card_path(:bundle => b["id"], :amount => 1)
