%div{:class => "shoppingcard"}
  %div{:class => "title"}
    %h2 Einkaufswagen
  - if @order.updated_at
    %p stand vom: #{@order.updated_at.strftime "%d.%m.%Y - %H:%M"}
  %table
    -# @order.order_parts.each do |p|
      %tr
        %td= p.amount.to_s + "x"
        %td=  p.item.name
        - if p.positive
          %td{:class => "type_positive row_price"}=number_to_currency(p.amount * p.item.preis, :unit => "€ ")
        - else
          %td{:class => "type_negative row_price"}=number_to_currency(p.amount * p.item.preis, :unit => "€ -")
  %h3 Gesamtpreis: #{number_to_currency(@order.gesamtpreis, :unit => "€")}
