%tr{:class => "element_first_row element_last_row"}
  %td=bill.updated_at.strftime("%d.%m.%Y, %H:%M")
  %td= bill.name
  %td
  - if bill.price >= 0
    %td{:class => "type_positive cell_price"}=number_to_currency(bill.price, :locale => :de)
  - else
    %td{:class => "type_negative cell_price"}=number_to_currency(bill.price, :locale => :de)
