%tr{:class => "element_first_row"}
  %td #{order.created_at.strftime("%d.%m.%Y, %H:%M")}
  %td Bestellung:
  %td
  - if order.gesamtpreis >= 0
    %td{:class => "type_positive cell_price"}
      =number_to_currency(order.gesamtpreis, :locale => :de)
  - else
    %td{:class => "type_negative cell_price"}
      =number_to_currency(order.gesamtpreis, :locale => :de)

  - unless order.created_at < 10.days.ago.beginning_of_day
    %td{:class => "cell_edit"}
      %a{:href => edit_order_path(order.id)}
        = image_tag "edit.png"

- order.order_parts.each do |p|
  %tr{:class => "bundle-item"}
    %td
    %td=p.amount.to_s + "x " + p.name + " (" + number_to_currency(p.sumOfPartItems, :locale => :de) + ")"
    - if p.positive
      %td{:class => "type_positive cell_price"}=number_to_currency(p.amount * p.sumOfPartItems, :locale => :de)
    - else
      %td{:class => "type_negative cell_price"}=number_to_currency(p.amount * p.sumOfPartItems, :locale => :de)
    %td

  - p.order_part_items.each do |pi|
    %tr{:class => "bundle-item-list"}
      %td
      - if pi.order_part.positive; price = pi.price; else price = pi.price * (-1) end
      %td{:class => "indent"}= (pi.order_part.amount * pi.amount).to_s + "x " + pi.name + " (" + number_to_currency(price, :locale => :de) + ")"
      %td
      %td

%tr{:class => "element_last_row"}
  %td
  %td
  %td
  %td
