- unless current_user.id == @user.id
  %h1=@user.name

%table{:class=> "table-index table_bills"}
  %thead
    %tr
      %th Buchung
      %th Grund
      %th
      %th Betrag
      %th
      %th Saldo

  %tbody
    %tr{:class => "element_first_row element_last_row row_saldo"}
      %td
      %td Aktueller Kassenstand
      %td
      %td
      %td{:style => "text-align:right"}
      - if @user.gesSaldo >= 0
        %td{:class => "type_positive cell_price"}
          =number_to_currency(@user.gesSaldo, :locale => :de)
      - else
        %td{:class => "type_negative cell_price"}
          =number_to_currency(@user.gesSaldo, :locale => :de)

    - @tempSaldo = @user.gesSaldo
    - @buchungen.each do |b|
      - if b.class == Order
        = render :partial => "order", :collection => [b]
      - elsif b.class == KontoTransaction
        = render :partial => "bill", :collection => [b]

%div{:class => "digg_pagination"}
  %div{:class => "page_info"}
    = page_entries_info @buchungen
  = will_paginate @buchungen, :container => false


