%h1 Artikel
%h2
  %a{:href => new_item_path}
    Neuen Artikel anlegen
    =image_tag "new.png", :width => "20px"

%table{:class=> "table-index"}
  %thead
    %td Name
    %td Preisoptionen
  %tbody
    - @items.each do |i|
      %tr
        %td= i.name
        %td
        %td= link_to(image_tag("edit.png", :width => "20px"), edit_item_path(i), :title => "Item editieren")
        %td= link_to(image_tag("delete.png", :width => "20px"), item_path(i), :title => "Item löschen", :method => :delete, :confirm => "Dieses Item wirklich löschen?")
      %tr{:class => "row_highlighted"}
        %td
        %td
          %ol
            - i.item_prices.each do |p|
              %li= p.name + " (" + number_to_currency(p.price, :unit => "€") + ")"
