%h1 Lagerübersicht

- @stocks.each do |s|
  %div{:class => "konto-uebersicht float-left"}
    %h2="Lager " + s.name.upcase
    %p=link_to "Lageränderungen anzeigen", stock_changes_path(:stock => s.id)
    %table{:class=> "table-index table_bills"}
      %thead
        %tr
          %th Artikel
          %th Anzahl
      %tbody
        - s.inventory.sort_by{|b,a| b.name}.each do |item,amount|
          %tr{:class => "toggle_background"}
            %td=item.name
            %td=amount
