/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset-min
 *= require_self
 *= require_tree .
 *= require formtastic
 */

$color-a1: #00CC00;
$color-a2: #008500;
$color-b1: #FFBB73;
$color-b2: #FF8300;
$color-b3: #A65500;

$padding-box: 5px;
$margin-box: 10px;

$border-size-header: 10px;

$width-body: 1200px;
$width-left: 150px;
$width-main: $width-body - $width-left - 3*$padding-box;

$height-header: 38px;

body {
  margin-left: auto;
  margin-right: auto;
  width: $width-body;

  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  font-weight: normal;
}

h1 {
  font-variant: small-caps;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: $padding-box;
  color: $color-a2;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
  font-variant: small-caps;
  margin-bottom: $padding-box / 2;
}

h3 {
  font-size: 1em;
  font-weight: normal;
  font-variant: small-caps;
  font-style: italic;
}

a, .js-link {
  font-size: 1em;
  color: $color-b3;
  text-decoration: none;
}

a:hover, .js-link:hover {
  color: $color-b2;
  text-decoration: underline;
}

.js-link:hover{
  cursor: pointer;
}

#header {
  border-bottom: $border-size-header solid $color-a2;
  background-color: $color-a1;
  height: $height-header;
  padding: $padding-box;
  margin-top: $margin-box;
}

#header h1 {
  color: #FFF;
}

#body{
  position: relative;
  min-height: 300px;
  margin-top: $margin-box;
}

#left {
  width: $width-left;
  float: left;
}

#left > div {
  padding: $padding-box;
}

#left > div li {
  border-bottom: 1px solid #000;
  background-color: $color-b1;
}

#left > div li a {
  display: block;
  width: $width-left - 2*$padding-box - 2*$padding-box;
  padding: $padding-box;
  height: 17px;
}

#left > div li a:hover {
  text-decoration: none;
  background-color: $color-b3;
  color: $color-b1;
}

#left > div > h2 {
  background-color: $color-a1;
  margin-left: -$padding-box;
  padding: $padding-box;
}

#left div ul ul {
  padding-left: 2*$padding-box;
}

#left div ul ul li a {
  width: $width-left - 2*$padding-box - 2*$padding-box - 2*$padding-box;
}

#main{
  width: $width-main;
  padding: $padding-box;

  margin-left: $width-left + 2*$padding-box;
}

#flash_container{
  background-color: $color-a2;
  width: $width-body/3;
  max-width: $width-body;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2*$margin-box;
  text-align: center;
  border-top: 2px solid $color-a2;
}

#pathway {
  margin-bottom: $margin-box;
  border-bottom: 1px solid #000;
}

table td {
  padding: $padding-box;
}


.table-index thead{
  border-bottom: 1px solid #000;
}

