.digg_pagination {
    background: none repeat scroll 0 0 white;
    cursor: default;
    margin-top: 20px;
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
    display: block;
    float: left;
    margin-right: 1px;
    padding: 0.2em 0.5em;
}
.digg_pagination .disabled {
    border: 1px solid #DDDDDD;
    color: #999999;
}
.digg_pagination .current {
    background: none repeat scroll 0 0 #2E6AB1;
    border: 1px solid #2E6AB1;
    color: white;
    font-style: normal;
    font-weight: bold;
}
.digg_pagination a {
    border: 1px solid #9AAFE5;
    color: #105CB6;
    text-decoration: none;
}
.digg_pagination a:hover, .digg_pagination a:focus {
    border-color: #000033;
    color: #000033;
}
.digg_pagination .page_info {
    background: none repeat scroll 0 0 #2E6AB1;
    color: white;
    margin-bottom: 0.3em;
    padding: 0.4em 0.6em;
    text-align: center;
    width: 22em;
}
.digg_pagination .page_info b {
    background: none repeat scroll 0 0 #6AA6ED;
    color: #000033;
    padding: 0.1em 0.25em;
}
.digg_pagination:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html .digg_pagination {
    height: 1%;
}
:first-child + html .digg_pagination {
    overflow: hidden;
}
