// Place all the styles related to the sale_date controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.td-width{
  width: 100px;
}

.td-padding-left{
  padding-left: 50px;
}

#display_box .half-max-width{
  width: 540px;
}

#display_box h1{
  font-size: 2.5em;
}

#display_box h2{
  font-size: 2em;
}

#display_box h4{
  font-size: 1.5em;
}

#display_box {
  font-size: 1.2em;
}

