// Place all the styles related to the verkauf controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$padding-box: 5px;
$margin-box: 5px;

.shoppingcard {
  border-left: 1px solid #000;
  padding: $padding-box;
  font-size: 13px;
}

.shoppingcard .title {
  border-bottom: 1px solid #000;
  margin-bottom: $margin-box;
  text-align: center;
}

.shoppingcard table td{
  vertical-align: top
}
